.Board {
    box-sizing: border-box;
    padding: 1rem;
}
.Board .board-header{
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    font-style: italic;
    opacity: 0.8;
    border-bottom-width: 0;
    margin-top: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.Board table {
    width: 100%;
    border-collapse: collapse;
    border-left: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2); 
    table-layout: fixed;
}

.Board table thead {
    background-color: #1ED760;
}

.Board table thead tr th {
    word-wrap: break-word;
    color: #21282F;
    font-size: 1.2rem;
    text-align: left;
    padding: 1rem;
    border-right: 1px solid rgba(0,0,0,0.2);
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.Board table thead tr th:last-child {
    border-right-width: 0;
}

.Board table tbody, .Board table tfoot {
    background-color: rgba(0,0,0,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);    
}

.Board table tbody tr td, .Board table tfoot tr td {
    word-wrap: break-word;
    color: #ffffff;
    font-size: 1.2rem;
    text-align: left;
    padding: 1rem;
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);    
}

.Board table tbody tr td:last-child, .Board table tfoot tr td:last-child {
    border-right-width: 0;
}
