.App {
  text-align: center;
}

.App-logo {
  animation: pulse infinite 5s ease;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes pulse {
  0% {
      transform: rotate(-7deg) scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
      transform: rotate(7deg) scale(1);
  }

  75% {
    transform: scale(1.1)
  }

  100% {
      transform: rotate(-7deg) scale(1);
  }
}

.player-form {
  max-width: 30rem;
  min-height: 70vh;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-form .player-form-row label {
  display: block;
  text-align: left;
  font-size: 0.8rem;
}

.player-form .player-form-row input[type=text] {
  border: 0;
  box-sizing: border-box;
  width: 100%;
  height: 2.5rem;
  background-color: rgba(255,255,255,0.2);
  border-radius: 0.25rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  outline: none;
  color: #ffffff;
  font-size: 1.5rem;
}

.player-form .player-form-row button {
  border: none;
  height: 3rem;
  background-color: rgba(0,0,0,0.5);
  color: #1ED760;
  width: 70%;
  margin-top: 1rem;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
  transition: opacity 1s;
}

.player-form .player-form-row button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.scores a {
  text-decoration: none;
  color: rgba(255,255,255,0.5);
  transition: color 0.5s;
}
.scores a:hover{
  color: #ffffff;
}

.App .vs {
  opacity: 0;
  transition: opacity 1s;
}

.App .vs.displayed {
  opacity: 1;
}

.player-form .player-form-row input[type=number] {
  border: 0;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.0);
  text-align: center;
  width: 50px;
  border-radius: 0.25rem;
  padding-left: 1rem;
  outline: none;
  color: #ffffff;
  font-size: 1.1rem;
}