body {
    background-color: #21282F;
    color: #1ED760;
}

.Game .status-bar {
    display: flex;
    background-color: #222222;
}

.Game .status-bar div{
    padding: 1rem;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.Game .status-bar .game-label {
    border-right: 4px solid rgba(0, 0, 0, 0.2)
}

.Game .status-bar .game-names {
    flex-grow: 1;
    text-align: center;
}

.Game .status-bar .game-winner {
    text-transform: uppercase;
}

.Game .status-bar .game-winner::before {
    content: url('../../images/crown.png');
    position: relative;
    top: -10px;
    left: 8px;
    display: inline-block;
    transform: rotate(-45deg);
}

.Game .status-bar .game-winner.tie::before{
    content: ''
}

.Game .game-board .player-name {
    padding: 1rem;
    font-size: 1.5rem;
}

.Game .game-board .column .game-select .game-select-title {
    background-color: #1ED760;
    color: #21282F;
    font-weight: bold;
    padding: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.Game .game-board .column .game-select .game-select-options {
    display: flex;
}

.Game .game-board .column .game-select .game-select-option {
    flex-basis: 33.333333%;
}

.Game .game-board .column .game-select .game-select-option .game-select-option-name{
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
}    
@keyframes flip {
    from {
        transform: perspective(300px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
      }
    
      40% {
        transform: perspective(300px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
      }
    
      60% {
        transform: perspective(300px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
      }
    
      80% {
        transform: perspective(300px) rotate3d(0, 1, 0, -5deg);
      }
    
      to {
        transform: perspective(300px);
      }
  }
  
  .animated-flip {
    backface-visibility: visible;
    animation: flip infinite 5s linear;
  }

.img-r {
    text-align: center;
}

.container-one-one {
    position: relative;
}

.container-one-one::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}

.container-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container-content:hover, .container-content.active {
    background-color: #222222;
}

.container-content img {
    max-width: 150px;
    width:100%; 
}    

.container-content:hover img {
    animation: flip infinite 2s linear;
}

.game-grid {
    min-height: calc(100vh - 57px);
}

.game-grid .left {
    box-sizing: border-box;
}

.game-grid .right {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
}

.btn {
    background-color: #1ED760;
    color: #1A2026;
    text-decoration: none;
    padding: 0.75rem 3rem;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.5rem;
    margin: 0.5rem;
    opacity: 0.5;
    transition: opacity 1s ease;
}

.btn:hover{
    opacity: 0.9;
}