.Scores {

}

.Scores .home a {
    color: #ffffff;
    text-decoration: none;
    padding: 1rem 5rem;
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 0.25rem;
    margin: 0.25rem;
    transition: background-color 1s;
}
.Scores .home a:hover{
    background-color: rgba(255, 255, 255, 0.2);    
}    